name: QA E2E CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: Unit Tests (GTest - Bazel)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Bazel
        uses: bazelbuild/setup-bazelisk@v3

        # ❌ DO NOT use actions/cache for bazel-out
        # ✅ Bazel remote cache is the correct solution

      - name: Run unit tests
        working-directory: Bazel_gtest_unit_tests
        run: |
          bazel test //tests:math_utils_test \
            --remote_cache=http://localhost:8080

  api-tests:
    name: API Tests (Postman + Newman)
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman collection
        run: |
          newman run API_Tests/postman_collection.json \
          -e API_Tests/postman_environment.json

  ui-tests:
    name: UI Tests (Selenium + TestNG)
    runs-on: ubuntu-latest
    needs: api-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run Selenium tests
        working-directory: UI_Tests
        run: |
          mvn clean test
          



    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Bazel
        uses: bazelbuild/setup-bazelisk@v3

      # ❌ DO NOT use actions/cache for bazel-out
      # ✅ Bazel remote cache is the correct solution

      - name: Run Bazel tests
        working-directory: Bazel_gtest_unit_tests
        run: |
          bazel test //tests:math_utils_test \
            --remote_cache=http://localhost:8080
            
