name: QA E2E CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  bazel-unit-tests:
    name: Unit Tests (Bazel)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Bazel
        uses: bazelbuild/setup-bazelisk@v3

        # ❌ DO NOT use actions/cache for bazel-out
        # ✅ Bazel remote cache is the correct solution

      - name: Run unit tests (Bazel)
        working-directory: Bazel_gtest_unit_tests
        run: |
          bazel test //tests:math_utils_test \
            --remote_cache=http://localhost:8080

  gtest-unit-tests:
    name: Unit Tests (GTest)
    runs-on: ubuntu-latest
    needs: bazel-unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install cmake and g++
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential
          
        # sudo apt-get install -y cmake g++ libgtest-dev
        # cd /usr/src/gtest && sudo cmake CMakeLists.txt && sudo make && sudo cp *.a /usr/lib           
        # uses: bazelbuild/setup-bazelisk@v3

      - name: Run unit tests (GTest)
        working-directory: Unit_tests_gtest
        run: |
          cmhmod +x /scripts/run_tests.sh
        # mkdir build
        # cd build
        # cmake ..
        # make
        # ./math_utils_test
        
      - name: Upload Gtest cmakelist report
        uses: actions/upload-artifact@v4
        with:
         name: gtest-cmake-report
         path: Unit_tests_gtest/output/reports/gtest-report.xml


  api-tests:
    name: API Tests (Postman + Newman)
    runs-on: ubuntu-latest
    needs: gtest-unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman collection
        run: |
          newman run API_Tests/postman_collection.json \
          -e API_Tests/postman_environment.json

  ui-tests:
    name: UI Tests (Selenium + TestNG)
    runs-on: ubuntu-latest
    needs: api-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run Selenium tests
        working-directory: UI_Tests
        run: |
          mvn clean test



